body{
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(112, 112, 112));
    color: white;
    font-size: 20px;
    height: 100vh;
    margin: 0px, 0px;
}

.container h3{
    margin-left: 100px;
    margin-top: 50px;
    font-style: italic;
}
.container2 h1{
    line-height: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    margin-top: 250px;
    font-size: 40px;
}

.btn-primary{
    border-radius: 70px;
    color:white;
    padding: auto 60px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 1s;
    cursor: pointer;
    border-color: rgb(44, 70, 175);
    box-shadow: 12px;
}

.btn-primary:hover{
    background-color: rgb(50, 127, 227);
}

@media screen and (min-width: 600px) and (max-width: 600px){
    body {
      height: auto;
    }
}
