.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 89vh;
    /* background-image: url('../images/icons/icon-152x152.png'); */
    background-size: cover;
    background-position: center;
}

.center-content {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.welcome-text {
    font-weight: bold;
    margin-top: 60px;
}

.search-form {
    margin-top: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group textarea {
    width: 1000px;
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 50px;
    border: 4px solid #000;
}

.input-group button[type="submit"] {
    margin-top: 50px;
    align-self: center;
    background-color: #2e032e;
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 50px;
}