{% extends 'base.html' %}

{% set active_page = "input" %}
{% block content %}
    <div class="form-container">
        <h2>Input Webpage URLs</h2>
        <form action="" method="POST" class="input-form">
            <textarea rows="5" cols="60" name="url" placeholder="https://example.com/python-page"></textarea>
            <label for="depth">Depth of Scraping:</label>
            <input type="number" name="depth" value="1" min="1">
            </select>
            <button class="btn" type="submit">Scrape Data</button>
        </form>
    </div>
{% endblock %}
{% block title %}
    Input webpages URLs
{% endblock %}
<!-- Link to the external CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
