{% extends 'base.html' %}

{% set active_page = "results" %}

{% block content %}
<h2>Chart Rendering</h2>

<head>
    <!-- Chart.js CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- PapaParse CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
</head>

<div align="center">
    <div class="main">
        <h1>TEXT ANALYSIS</h1>
        <!-- Displaying both charts from chart_rendering.js -->
        <canvas id="text-chart"></canvas>
        <canvas id="image-chart"></canvas>
    </div>
</div>

<!-- Linke to chart_rendering.js file -->
<script src="{{ url_for('static', filename='js/chart_rendering.js') }}"></script>
<script>
    var jsonData = JSON.parse('{{ json_data|safe }}');
    renderChart(jsonData);
</script>

{% endblock %}
